.subject-attendance__group {
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 30px;
}

.subject-attendance__group-title {
  margin: 0 0 15px;
  color: #34495e;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
}